.logo {
  width: 186px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration-line: none;
  z-index: 1;
}

.logo-name {
  color: $color-primary;
  @extend %font-primary;
  @include font($size: 3.2rem, $height: 3.5rem);
  letter-spacing: 0.06em;
  &.pets {
    color: $color-dark-text;
  }
}

.logo-text {
  color: $color-light-text;
  @extend %font-secondary;
  @include font($size: 1.3rem, $height: 1.5rem);
  letter-spacing: 0.1em;
  &.pets {
    color: $color-dark-btn-text;
  }
}
