.page-in_addition {
  background-color: $color-friends-bg;
}

.addition__block {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  padding-top: 80px;
  padding-bottom: 100px;

  @include media-desk-tab {
    row-gap: 60px;
    flex-direction: column;
  }

  @include media-mobile {
    row-gap: 42px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.addition-img {
  width: 505px;
  height: 261px;
  background-image: url("../assets/images/donation-dog.png");
  background-repeat: no-repeat;
  background-size: cover;

  @include media-desk-tab {
    order: 1;
  }

  @include media-mobile {
    width: 260px;
    height: 135.2px;
  }
}

.addition-content {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;

  @include media-mobile {
    width: 280px;
    align-items: center;
  }
}
.addition-title {
  @include media-mobile {
    text-align: center;
  }
}

.addition-bank_name {
  @extend %font-primary;
  @include font ($size: 1.5rem, $height: 1.7rem);
  letter-spacing: 0.06em;

  @include media-mobile {
    @include font ($size: 1.5rem, $height: 2.4rem);
    letter-spacing: 0;
  }
}

.bank-card {
  width: 349px;
  background-color: $color-btn-border;
  border-radius: 9px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-left: 5px;
  text-decoration-line: none;
  cursor: pointer;

  @include media-mobile {
    width: 281px;
  }
}

.img-card {
  width: 50px;
  height: 43px;
  background-image: url("../assets/icons/icon-bank-card.svg");
  background-repeat: no-repeat;
}

.number-card {
  color: $color-dark-text;
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;

  @include media-mobile {
    @include font ($size: 1.5rem, $height: 1.7rem);
    letter-spacing: 0.06em;
  }
}

.addition-text {
  color: $color-addition-bank;
  @extend %font-secondary;
  @include font ($size: 1.2rem, $height: 1.8rem, $style: italic);

  @include media-mobile {
    text-align: justify;
  }
}
